@import "ember-bootstrap/bootstrap";

.top-buffer { margin-top:20px; }

.detail-form {
  position: fixed;
  right: 0;
  transform: translateY(-45%);
  width: 500px;
  height: 500px;
  padding: 40px;
  background: #fff;
  box-shadow: 0 20px 50px rgba(0,0,0,.5);
}

.def-routes-position {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -125px 0 0 -125px;
  
  img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
      border: none;
  }
}
