<div class="detail-form">
  <div class="title">Speaker's info</div>
  <form>
    <div class="col">
      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="top-buffer"></div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name">
    </div>
  </form>
</div>